* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* header desktop */
ul {
  list-style: none;
}

header {
  background-color: rgba(195, 0, 0, 0.2);
  padding: 20px 150px;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 2rem;
  display: none;
}
header .smaLogo {
  width: 130px;
  margin-left: 50px;
}
header ul {
  display: flex;
  gap: 20px;
  font-size: 1rem;
  font-weight: 500;
}
header .collapse {
  margin-right: 50px;
}
header .collapse a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
header .collapse a:hover {
  color: #01bba9;
}

/* Image Home Desktop */
.imageHead {
  background-image: url(../img/lacar-home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.imageHead h2 {
  color: rgb(237, 237, 237);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.imageHead .btn-know-more {
  color: rgb(0, 0, 0);
  background-color: rgb(237, 237, 237);
  padding: 8px 28px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50px;
  margin-bottom: 120px;
  width: 250px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.imageHead .btn-know-more:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(237, 237, 237);
}

/* Tablet */
@media (max-width: 1200px) {
  .imageHead h2 {
    color: rgb(237, 237, 237);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
/* Mobile */
@media (max-width: 576px) {
  .imageHead {
    background-image: url(../img/lacar-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .imageHead h2 {
    color: rgb(237, 237, 237);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .imageHead .btn-know-more {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 237, 237);
    padding: 8px 28px;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid rgb(237, 237, 237);
    border-radius: 50px;
    margin-bottom: 120px;
    width: 250px;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
  }
}
/* first paragraph*/
.firstLineTitle {
  display: block;
}

.discover-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 28px;
}
.discover-intro h2 {
  padding: 20px 50px;
  font-size: 2.5rem;
  font-weight: 600;
}
.discover-intro p {
  text-align: justify;
  padding: 20px 0px;
  font-size: 1.2rem;
}

/* Tablet */
@media (max-width: 1200px) {
  .discover-intro h2 {
    text-align: center;
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: 600;
  }
}
/* Mobile */
@media (max-width: 576px) {
  .discover-intro h2 {
    padding: 5px 0px;
    font-size: 2rem;
    font-weight: 600;
  }
  .discover-intro p {
    text-align: justify;
    padding: 20px 0px;
    font-size: 1.2rem;
  }
}
/* More Button */
.more {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 8px 28px;
  font-weight: 600;
  margin-top: 30px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.more:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

/* Section Discover Home */
.discover-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.discover-card img {
  width: 100%;
  height: 400px;
  border-radius: 20px 20px 0px 0px;
}
.discover-card .text-discover {
  padding: 15px 28px;
  font-size: 1rem;
}
.discover-card h4 {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #01bba9;
}
.discover-card h3 {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: 600;
}
.discover-card p {
  margin-top: 20px;
}
.discover-card:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.discover-cards-container {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 0px;
  gap: 25px;
}

/* Tablet */
@media (max-width: 1200px) {
  .discover-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 0px;
    gap: 25px;
  }
  .discover-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 500px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
  }
  .discover-card h3 {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .discover-card p {
    margin-top: 10px;
  }
}
/* Mobile */
@media (max-width: 576px) {
  .discover-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px 10px;
    gap: 25px;
  }
}
/* Footer */
.line-separate {
  border-bottom: solid 1px rgb(141, 141, 141);
  width: 100%;
}

footer .footer-top {
  display: flex;
  padding: 40px;
}
footer .footer-top .explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
footer .footer-top .explore h3 {
  display: flex;
  align-self: flex-start;
}
footer .footer-top .explore .list {
  display: flex;
  margin-left: -30px;
  gap: 20px;
}
footer .footer-top .container-contact .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
footer .footer-top .container-contact .contact h3 {
  display: flex;
  align-self: flex-start;
  margin-left: 165px;
}
footer .footer-top .container-contact .contact .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-top .container-contact .contact .address {
  display: flex;
  gap: 20px;
}
footer .maps .googlemaps {
  width: 100%;
}
footer .footer-botton {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px;
}
footer .footer-botton .subscribe h3 {
  display: flex;
  align-self: flex-start;
}
footer .footer-botton .yourEmail {
  display: block;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(73, 73, 73);
  padding-left: 5px;
}
footer .footer-botton .suscribeButton {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(73, 73, 73);
  margin-top: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
footer .footer-botton .suscribeButton:hover {
  transform: scale(1.04);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
footer .footer-botton .input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  gap: 20px;
}
footer .footer-botton .followUS h3 {
  display: flex;
  align-self: flex-start;
  padding-left: 80px;
}
footer .footer-botton .followUS .socials {
  display: flex;
  justify-content: space-evenly;
}
footer .footer-botton .followUS i {
  padding-left: 80px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}
footer .footer-botton .followUS i:hover {
  color: #01bba9;
  transform: scale(1.04);
}

/* Tablet */
@media (max-width: 1200px) {
  footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  footer .footer-top .explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  footer .footer-top .explore h3 {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
  }
  footer .footer-top .explore .list {
    display: flex;
    margin-left: 0px;
    gap: 20px;
  }
  footer .footer-top .explore ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 60px;
  }
  footer .footer-botton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  footer .footer-botton .subscribe h3 {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
  }
  footer .footer-botton .subscribe .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 10px;
  }
  footer .footer-botton .yourEmail {
    display: block;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(73, 73, 73);
    padding-left: 5px;
  }
  footer .footer-botton .suscribeButton {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(73, 73, 73);
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
  }
  footer .footer-botton .suscribeButton:hover {
    transform: scale(1.04);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  footer .footer-botton .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 20px;
  }
  footer .footer-botton .followUS h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-left: 0px;
  }
  footer .footer-botton .followUS .socials {
    display: flex;
    justify-content: space-around;
    gap: 60px;
  }
  footer .footer-botton .followUS i {
    padding-left: 0px;
    font-size: 25px;
  }
  footer .footer-botton .followUS i:hover {
    color: #01bba9;
  }
}
/* Mobile */
@media (max-width: 576px) {
  footer .footer-top {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  footer .footer-top .explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-top .explore h3 {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
  }
  footer .footer-top .explore .list {
    display: flex;
    margin-left: 0px;
    gap: 20px;
  }
  footer .footer-top .explore ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 60px;
  }
  footer .footer-top .container-contact .contact {
    display: flex;
    flex-direction: column;
  }
  footer .footer-top .container-contact .contact h3 {
    display: flex;
    align-self: center;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  footer .footer-top .container-contact .contact .info .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-botton {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
  }
  footer .footer-botton .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-botton .subscribe h3 {
    display: flex;
    align-self: center;
  }
  footer .footer-botton .subscribe .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 20px;
  }
  footer .footer-botton .followUS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  footer .footer-botton .followUS h3 {
    display: flex;
    align-self: center;
    padding-left: 0px;
  }
  footer .footer-botton .followUS .socials {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
  }
  footer .footer-botton .followUS i {
    padding-left: 0px;
    font-size: 20px;
    padding: 25px;
  }
  footer .footer-botton .followUS i:hover {
    color: #01bba9;
  }
}
/* City Page */
.imageHeadCity {
  background-image: url(../img/sma-city.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.imageHeadCity h2 {
  color: rgb(237, 237, 237);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.imageHeadCity .btn-know-more {
  color: rgb(0, 0, 0);
  background-color: rgb(237, 237, 237);
  padding: 8px 28px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50px;
  margin-bottom: 120px;
  width: 250px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.imageHeadCity .btn-know-more:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(237, 237, 237);
}

/* Mobile */
@media (max-width: 576px) {
  .imageHeadCity {
    background-image: url(../img/sma-city.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .imageHeadCity h2 {
    color: rgb(237, 237, 237);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
}
/* Tours Page */
.imageHeadTours {
  background-image: url(../img/la-islita-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.imageHeadTours h2 {
  color: rgb(237, 237, 237);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.imageHeadTours .btn-know-more {
  color: rgb(0, 0, 0);
  background-color: rgb(237, 237, 237);
  padding: 8px 28px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50px;
  margin-bottom: 120px;
  width: 250px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.imageHeadTours:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(237, 237, 237);
}

/* Mobile */
@media (max-width: 576px) {
  .imageHeadTours {
    background-image: url(../img/la-islita-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .imageHeadTours h2 {
    color: rgb(237, 237, 237);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
}
/* Summer Page */
.imageHeadSummer {
  background-image: url(../img/quila-quina-playa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.imageHeadSummer h2 {
  color: rgb(237, 237, 237);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.imageHeadSummer .btn-know-more {
  color: rgb(0, 0, 0);
  background-color: rgb(237, 237, 237);
  padding: 8px 28px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50px;
  margin-bottom: 120px;
  width: 250px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.imageHeadSummer .btn-know-more:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(237, 237, 237);
}

/* Mobile */
@media (max-width: 576px) {
  .imageHeadSummer {
    background-image: url(../img/quila-quina-playa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .imageHeadSummer h2 {
    color: rgb(237, 237, 237);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
}
/* Winter Page */
.imageHeadWinter {
  background-image: url(../img/chapelco-big.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.imageHeadWinter h2 {
  color: rgb(237, 237, 237);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.imageHeadWinter .btn-know-more {
  color: rgb(0, 0, 0);
  background-color: rgb(237, 237, 237);
  padding: 8px 28px;
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50px;
  margin-bottom: 120px;
  width: 250px;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.imageHeadWinter .btn-know-more:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(237, 237, 237);
}

/* Mobile */
@media (max-width: 576px) {
  .imageHeadWinter {
    background-image: url(../img/chapelco-big.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .imageHeadWinter h2 {
    color: rgb(237, 237, 237);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
}
.video {
  grid-area: video-youtube;
}
.video iframe {
  width: 100%;
}

.video-description {
  grid-area: video-description;
  align-self: center;
  width: 80%;
}

.ski-photo {
  grid-area: photo-ski;
}
.ski-photo img {
  width: 80%;
  border-radius: 10px;
}

.ski-description {
  grid-area: description-ski;
  align-self: center;
  width: 80%;
}
.ski-description h4 {
  font-size: 1rem;
  color: #01bba9;
}

.snowboard-photo {
  grid-area: photo-snowboard;
}
.snowboard-photo img {
  width: 80%;
  border-radius: 10px;
}

.snowboard-description {
  grid-area: description-snowboard;
  align-self: center;
  width: 80%;
}
.snowboard-description h4 {
  font-size: 1rem;
  color: #01bba9;
}

.winter-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "video-description video-youtube" "photo-ski description-ski" "description-snowboard photo-snowboard";
}

@media (max-width: 576px) {
  .winter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .winter-section .line-video {
    grid-area: video-youtube;
  }
  .winter-section .line-video iframe {
    width: 100%;
  }
  .winter-section .ski-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .winter-section .ski-description {
    margin-top: 30px;
  }
  .winter-section .video-description {
    margin-top: 30px;
  }
  .winter-section .snowboard-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .winter-section .snowboard-description {
    margin-top: 30px;
  }
  .table-price h3 {
    margin: 10px 0px 30px 0px;
  }
}
.table-price {
  margin-top: 30px;
  padding: 40px;
}

/* Contact Us Section */
.contactSection {
  background-image: url(../img/image-contact.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactSection h2 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 80vw;
  padding-top: 150px;
  margin-left: 230px;
}
.contactSection .formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 400px;
  margin-bottom: 330px;
}
.contactSection .nameForm {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px rgb(64, 64, 64);
  padding-left: 20px;
  margin-bottom: 15px;
}
.contactSection .nameEmail {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px rgb(64, 64, 64);
  padding-left: 20px;
  margin-bottom: 15px;
}
.contactSection .namePhone {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px rgb(64, 64, 64);
  padding-left: 20px;
  margin-bottom: 15px;
}
.contactSection .nameText {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  border: solid 1px rgb(64, 64, 64);
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
}
.contactSection .nameSend {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px rgb(64, 64, 64);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}
.contactSection .nameSend:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transform: scale(1.04);
}

/* Mobile */
@media (max-width: 576px) {
  .contactSection {
    background-image: url(../img/image-contact.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .contactSection h2 {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 80vw;
    padding-top: 150px;
    margin-left: 0px;
  }
  .contactSection .formSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .contactSection .nameForm {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(64, 64, 64);
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .contactSection .nameEmail {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(64, 64, 64);
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .contactSection .namePhone {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(64, 64, 64);
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .contactSection .nameText {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: solid 1px rgb(64, 64, 64);
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .contactSection .nameSend {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
  }
  .contactSection .nameSend:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transform: scale(1.04);
  }
}

/*# sourceMappingURL=style.css.map */
