$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(255, 255, 255);
$third-color: rgb(237, 237, 237);
$card-color: rgb(241, 241, 241);
$green-color: rgb(22, 206, 132);
$background-card: rgb(228, 228, 228);
$border-form: rgb(64, 64, 64);
