.firstLineTitle {
    display: block;
}

.discover-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 28px;
    h2 {
        padding: 20px 50px;
        font-size: 2.5rem;
        font-weight: 600;
    }
    p {
        text-align: justify;
        padding: 20px 0px;
        font-size: 1.2rem;
    }
}
