.video {
    grid-area: video-youtube;
    iframe {
        width: 100%;
    }
}
.video-description {
    grid-area: video-description;
    align-self: center;
    width: 80%;
}

.ski-photo {
    grid-area: photo-ski;
    img {
        width: 80%;
        border-radius: 10px;
    }
}
.ski-description {
    grid-area: description-ski;
    align-self: center;
    width: 80%;
    h4 {
        font-size: 1rem;
        color: $green-color;
    }
}
.snowboard-photo {
    grid-area: photo-snowboard;
    img {
        width: 80%;
        border-radius: 10px;
    }
}
.snowboard-description {
    grid-area: description-snowboard;
    align-self: center;
    width: 80%;
    h4 {
        font-size: 1rem;
        color: $green-color;
    }
}

.winter-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "video-description video-youtube"
        "photo-ski description-ski"
        "description-snowboard photo-snowboard";
}

@media (max-width: 1200px) {
    .winter-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .line-video {
            grid-area: video-youtube;
            iframe {
                width: 100%;
            }
        }
        .ski-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .ski-description {
            margin-top: 30px;
        }
        .video-description {
            margin-top: 30px;
        }
        .snowboard-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .snowboard-description {
            margin-top: 30px;
        }
    }
    .table-price{
        h3{
            margin: 10px 0px 30px 0px;
        }
        
    }
}

@media (max-width: 576px) {
    .winter-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .line-video {
            grid-area: video-youtube;
            iframe {
                width: 100%;
            }
        }
        .ski-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .ski-description {
            margin-top: 30px;
        }
        .video-description {
            margin-top: 30px;
        }
        .snowboard-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .snowboard-description {
            margin-top: 30px;
        }
    }
    .table-price{
        h3{
            margin: 10px 0px 30px 0px;
        }
        
    }
}
